<!-- Header -->
<header id="header"{% if page.layout == 'landing' %} class="alt"{% endif %}>
<h1><a href="tel:+79324826607"><span style=color:#ff0000;>ИКРА</span>МОБИЛЬ72&nbsp;&nbsp;//&nbsp;<span  style=color:#ff0000;" class="icon fa-phone-square"></span>&nbsp;8&nbsp;932&nbsp;482-66-07</a></h1>
  <nav id="nav">
    <ul>
      <li class="special">
        <a href="#menu" class="menuToggle"><span>МЕНЮ</span></a>
        <div id="menu">
          <ul>
            <li><a href="index.html">ЗАКАЗАТЬ&nbsp;ДОСТАВКУ</a></li>
            {% for my_page in site.pages %}
            {% if my_page.title %}
            <li><a href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a></li>
            {% endif %}
            {% endfor %}
            <li><a href="#contact" class="icon fa-feed"> КОНТАКТЫ</a></li>

          </ul>
        </div>
      </li>
    </ul>
  </nav>
</header>
